# Automake junk
.deps
autom4te.cache
config.h
config.log
config.status
libtool
Makefile
stamp-h1
po/Makefile.in
po/POTFILES
sayleen/*.la
sayleen/*.lo
sayleen/*.o
sayleen/.libs
sayleen/rcpconv
sayleen/smfplay
